$breakpoint-md: 48em;
$breakpoint-lg: 64em;

$max-width: 75em;

$font-root: 16px;
$font-roboto: 'Roboto', sans-serif;

$color-white: #FFFFFF;
$color-grey: #F1F1F1;
$color-black: #333333;

$color-primary: #A75197;
$color-accent: #2E3F46;

$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 1rem;
$spacing-4: 2rem;
$spacing-5: 4rem;
